body{
    padding: 50px 0px 0px 0px;
    z-index: 0; 
}

.navbar-dark{
    background-color: #718a93;
}



.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #f8f9f9;
    color:  #374047;
}


main{

   
}


.footer 
{
    background-color: #dee1e3;
    margin: 0px auto;
    padding: 20px 0px; 
}